.searchField {
  position: relative;
  input {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    border: none;
    padding: 8px 20px;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding-right: 40px;
    padding-left: 60px;
    &::placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
    &:focus {
      outline: none;
      border: none;
    }
  }
  > .material-icons {
    position: absolute;
    left: 2%;
    top: 8px;
    color: rgba(0, 0, 0, 0.7);
  }
}

.cardBlock {
  background: #eaecee;
  border-radius: 3px;
  cursor: pointer;
}

::ng-deep .mat-mdc-card-lg-image {
  border-radius: 50% !important;
}

mat-card-title {
  font-size: 14px !important;
}

.link {
  cursor: pointer;
  color: #0078d6;
}
.link:hover {
  text-decoration: underline;
}
